/* ----- Global ----- */
* {
  box-sizing: border-box;
  font-family: "Shantell Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
}
.hide {
  display: none !important;
}
html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  font-family: "Raleway", sans-serif;
  background-color: #000000;
}

html {
  margin-top: 40px;
}

/* навигация */
.upperline> a > img {
  height: 7rem;
  margin-left: 100px;
}

.upperline {
  display: flex;
}

.text {
  font-size: 20px;
}

.spani {
  font-size: 17px;
}

#header23 {
  font-size: 15px;
  font-weight: bold;
}

/* корзина */
.buy-count {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  border-style: solid;
  border-radius: 45px;
  border-width: 0px;
  background-color: #c22419;

  padding-left: 15px;
  padding-right: 15px;
}
.buy-count > p {
  color: white;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 0px;
}
.buy {
  margin-right: 160px;
  margin-top: auto;
  margin-bottom: auto;

  border-style: solid;
  border-radius: 45px;
  border-width: 0px;
  background-color: #99582a;

  padding-left: 15px;
  padding-right: 15px;
}

.buy>p {
  color: white;
  font-size: 16px;
}

/* корзина */

.line {
  margin-top: 8px;
  display: flex;

}

.navmenu>.line {
  justify-content: center;
}

.menu {
  font-size: 15px;

  margin-left: 10px;
  margin-right: 10px;

  text-decoration: none;
  background-color: #99582a;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 20px;
}

.news {
  margin-top: 30px;
}

.image>img {
  z-index: -10;

  width: 100%;
  height: auto;
  border-radius: 20px;

  padding: 5px;
}

.image>span {
  position: absolute;
  z-index: 10;
  color: rgb(243, 243, 243);
  font-weight: bold;
  font-size: large;

  margin-top: 95%;
  padding-left: 1em;
}

.image {
  position: relative;

  border: 4px solid;
  border-radius: 20px;
  border-color: #99582a;
}

.rounded {
  width: 40%;
}

/* навигация */

.name {
  display: inline-block;
  margin: 20px 0 0 100px;
  /* верх право низ лево */

  font-family: "Rubik Mono One", monospace;
  font-weight: 0;
  font-style: normal;

  padding: 10px 50px 0 50px;

  border-radius: 7px 7px 0 0;
  font-size: 40px;
  background-color: rgb(242, 242, 242);
}

.information_of_site {
  display: flex;

  padding: 20px;
  display: grid;
  color: white;
  background-color: rgb(31, 31, 31);
}

.korzina {
  text-decoration: none;
  color: white;
}

.here {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 4px;
}

h3 {
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: #a6a6a6;
}

img {
  max-width: 100%;
  filter: drop-shadow(1px 1px 3px #a6a6a6);
}

/* ----- Product Section ----- */
.product {
  display: grid;
  grid-template-columns: 25rem 15rem 25rem 15rem;
  /* margin: auto; */
  margin-right: 100px;
  margin-left: 100px;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: rgb(242, 242, 242);
  border-radius: 0 10px 10px 10px;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  right: 10px;
  display: grid;
  grid-template-rows: 1fr;
  width: 90%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
  border-radius: 6px 6px 0 0;
  background: radial-gradient(#ddc092, #99582a);

  text-align: center;
}

.photo-main .controls {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  color: #fff;
}

.photo-main .controls img {
  margin: 10px;
  width: 8%;
}

.photo-main .controls {
  cursor: pointer;
}

.photo-main img {
  position: relative;

  width: 75%;
}

/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 1em 0.8em 0;
  position: relative;
}

.product__info button {
  position: absolute;
  bottom: 0;
}

.title h1 {
  padding-left: 0.5em;
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 1.5em;
  font-weight: 900;
}

.title span {
  font-size: 0.7em;
  color: #a6a6a6;
}

.price {
  margin: 1.5em 0;
  color: #ff3f40;
  font-size: 1.2em;
}

.price span {
  padding-left: 0.15em;
  font-size: 2.9em;
}

.variant {
  overflow: auto;
}

.variant h3 {
  margin-bottom: 1.1em;
}

.variant li {
  float: left;
  width: 35px;
  height: 35px;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.variant li:first-child,
.variant li:hover {
  border: 1px solid #a6a6a6;
}

.variant li:not(:first-child) {
  margin-left: 0.1em;
}

.description {
  clear: left;
  margin: 2em 0;
}

.description ul {
  font-size: 0.8em;
  list-style: disc;
  margin-left: 0.5em;

  padding-bottom: 1.5em;
}

.description li {
  text-indent: -0.6em;
  margin-bottom: 0.5em;
}

/* ----- Footer Section ----- */

.cards {
  display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px;
  /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center;
  /* Размещаем карточку по центру */
  column-gap: 30px;
  /* Отступ между колонками */
  row-gap: 40px;
  /* Отступ между рядами */
  margin: 0 auto;
}

.card {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* Размещаем элементы в колонку */
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
  box-shadow: 4px 8px 16px rgba(65, 255, 51, 0.2);
}

.card__top {
  flex: 0 0 220px;
  /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden;
  /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  /* Занимаем всю оставшуюся высоту карточки */
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
}

.plusing {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.buy--btn {
  padding: 1.5em 3.1em;

  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: red;
  box-shadow: 2px 2px 25px -7px color-primary;
  cursor: pointer;

  &:active {
    transform: scale(0.97);
  }
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__title:hover {
  color: #33ff33;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer;
  /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: auto;
  /* Прижимаем кнопку к низу карточки */
}

.card__add:hover {
  border: 1px solid #81ff33;
  background-color: #77ff33;
  color: #ff0000;
}

@media (max-width: 768px) {
  .image>img {
    width: 100%;
    height: 100%;
  }

  .upperline > a > img {
    height: 7rem;
    margin-left: 100px;
  }

  .text {
    font-size: 30px;
  }

  .spani {
    font-size: 27px;
  }

  .krztext {
    font-size: 27px;
  }

  .menu {
    font-size: 27px;
  }
}

@media (max-width: 425px) {
  .image > img {
    width: 100%;
    height: 100%;
  }

  #header23 {
    font-size: 27px;
    font-weight: bold;
  }
  .upperline > a > img {
    height: 5rem;
    margin-left: 100px;
  }
}